<!-- Highlight Card -->
<div class="card highlight-card">
  <div class="card-content">
    <div class="row">
      <div class="col">
        <img src="assets/send_file.png" alt="" class="responsive-img img-icon">
      </div>
      <div class="col">
        <span class="card-title">Enviar arquivo CNAB:</span>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12">
          <input type="file" (change)="onchange($event)">
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Resources -->
  <h2>Transações</h2>
  <p>Here are some links to help you get started:</p>

  <div class="card">
    <div class="card-content">

    </div>
  </div>

