@import "src/assets/themes/variables.scss";

.highlight-card {
  width: auto;
  background-color: $primary-color;
  color: $light-color;

  .img-icon {
    width: auto;
    max-height: 30px;

    vertical-align: middle;
  }


  input {
    color: $light-color;
  }

}

table {
  width: 100%;
  margin: 3% auto;
}

.pagination-row {
  text-align: center;
}
.filter {
  text-align: right;
}

.negative {
  color: $danger-color;
}

.positve {
  color: $primary-color;
}
