// ======= Colors =======
$primary-color: #1976d2;
$secondary-color: #424242;
$success-color: #388e3c;
$info-color: #1976d2;
$warning-color: #ffa000;
$danger-color: #f44336;
$light-color: #f5f5f5;
$dark-color: #212121;

